In [1]:
import numpy as np
stock_change=np.random.normal(0,1,(10,5))

In [2]:
stock_change

array([[ 2.27656871,  0.2305883 ,  0.62048709,  0.07716603, -0.1135496 ],
       [ 3.24554275,  1.23398971,  0.06265424,  2.11735385, -0.13337508],
       [-0.14939615,  0.21908217,  1.48408412, -1.19888074, -0.10358446],
       [ 0.84822629, -0.17614708,  0.42957782,  0.23085994, -0.21822864],
       [-1.0162154 ,  0.09191704, -0.20328416, -2.72915201, -0.04852972],
       [ 1.40849125, -0.75421278,  0.47407646, -0.97140856, -0.11022563],
       [ 0.43283902, -1.0153377 , -0.41681865, -0.43119896,  0.59088678],
       [ 0.44652768,  0.87641913,  0.98020045,  0.4257917 ,  1.4204086 ],
       [-1.3972809 ,  1.98734681, -1.73838587,  0.0291586 ,  0.51224855],
       [-1.21125826,  0.13447935,  0.51860812,  0.40939677, -0.65974028]])

In [3]:
import pandas as pd

In [6]:
pd.DataFrame(data=stock_change,index=stock)

            0         1         2         3         4
股票0  2.276569  0.230588  0.620487  0.077166 -0.113550
股票1  3.245543  1.233990  0.062654  2.117354 -0.133375
股票2 -0.149396  0.219082  1.484084 -1.198881 -0.103584
股票3  0.848226 -0.176147  0.429578  0.230860 -0.218229
股票4 -1.016215  0.091917 -0.203284 -2.729152 -0.048530
股票5  1.408491 -0.754213  0.474076 -0.971409 -0.110226
股票6  0.432839 -1.015338 -0.416819 -0.431199  0.590887
股票7  0.446528  0.876419  0.980200  0.425792  1.420409
股票8 -1.397281  1.987347 -1.738386  0.029159  0.512249
股票9 -1.211258  0.134479  0.518608  0.409397 -0.659740

In [5]:
stock=['股票{}'.format(i) for i in range(10)]

在pandas中，data表示数据，index表示列索引，columns表示行索引

In [6]:
pd.date_range(start='20201001',end='20200106')